
# pixi environments
.pixi
*.egg-info
.vscode/
data/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.whl
*.tar.gz
*.txt
*.json
models/
models/contriever-msmarco
logs/

*.log
*.trace

mid_result/
logs/
logs_1/

*.lock
.trae